<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户登录系统</title>
</head>
<body>
<h1>欢迎访问用户文件管理系统</h1>
<form th:action="@{/user/login}" method="post" >
    username:<input type="text" name="userName"/> <br>
    password:<input type="text" name="password"/> <br>
    验证码：</strong><input style="line-height: 30px"  type="text" name="code"/>
    <img style="width: 100px;height: 30px;" th:src="${#servletContext.contextPath}+'/user/code'" onclick="this.src=this.src+'?'" alt="验证码">
    <input type="submit" value="登录"/> <br>
</form>
</body>
</html>